.card {
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: azure;
  border-radius: 5px;
  &:hover {
    box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  i {
    font-size: 48px;
    color: red;
  }
  img {
    border-radius: 35%;
    max-width: 300px;
    max-height: 300px;
  }
}
.card__img {
  border-radius: 5px 5px 0 0;
}
card__name {
}
.card__heart {
}
.card__icon--red {
  color: red;
  cursor: pointer;
}
.card__icon--black {
  color: black;
  cursor: pointer;
}
