.search {
  color: #d69494;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  width: 253px;
  height: 45px;
  text-indent: 4%;
  font-size: large;
  margin-top: 2%;
  margin-bottom: 2%;
}
input:placeholder-shown {
  color: black;
}
select {
  color: #50363686;
  height: 45px;
  text-indent: 4%;
  font-size: large;
  margin-top: 2%;
  margin-bottom: 2%;
}
input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #50363686;
  opacity: 1;
  letter-spacing: 0.2rem;
  text-indent: 3%;
  vertical-align: middle;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #5c4e4e;
  opacity: 1;
  letter-spacing: 0.2rem;
  text-indent: 3%;
  vertical-align: middle;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #4b3434;
  opacity: 1;
  letter-spacing: 0.2rem;
  text-indent: 3%;
  vertical-align: middle;
}
input :-moz-placeholder {
  /* Firefox 18- */
  color: #382b2b;
  opacity: 1;
  letter-spacing: 0.2rem;
  text-indent: 3%;
  vertical-align: middle;
}
/* Firefox only: */
input:focus::placeholder {
  text-align: right;
  color: rgb(247, 144, 144);
}
